@import "../../scss/base/vars";

.dashboard {
  background-color: $bg_color_4;

  .dashboard__title {
    width: 100%;
    background-color: $color_2;

    display: block;
    padding: 1.2rem 0;
    padding-left: 1.4rem;

    p {
      color: $color_3;
      font-size: 18px;
      margin: 0.35rem 0;
    }
  }
  .dashboard__chart {
    background-color: $chart_bg;
    color: $color_3;

    margin: 0 1.3rem;
  }
}
