@import "../../scss/base/vars";

.dashboard {
  background-color: $bg_color_4;
}

.header {
  background-color: $bg_color_1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.3rem 0;

  .header__account {
    //display: flex;
    //flex-direction: row;
  }
}
