@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/gothampro_light.woff2"),
    url("./../../assets/fonts/gothampro_light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/gothampro.woff2"),
    url("./../../assets/fonts/gothampro.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/gothampro_medium.woff2"),
    url("./../../assets/fonts/gothampro_medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/gothampro_bold.woff2"),
    url("./../../assets/fonts/gothampro_bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("./../../assets/fonts/gothampro_black.woff2"),
    url("./../../assets/fonts/gothampro_black.woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "GothamPro", sans-serif;
}
