@import "../../scss/base/vars";

.links {
  li {
    border-bottom: 1px solid $bg_color_3;

    list-style-type: none;
    cursor: pointer;

    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 0;
    transition: 0.3s ease-in-out;

    &:first-child {
      background-color: $bg_color_3;
    }

    &:active {
      color: $color_2;
      border-left: 5px solid $border_color;
      background-color: $bg_color_3;
    }

    a {
      display: flex;
      align-items: center;

      gap: 0.7rem;
      margin-left: 1rem;

      transition: 0.5s ease-in-out;
      color: $color_1;

      position: relative;

      &:hover {
        color: $color_2;
      }

      .icon {
        display: block;
        margin-top: 0;
        margin-bottom: auto;

        width: 2rem;
        height: 2rem;
      }

      .links_container {
        position: absolute;
        right: 1.5rem;
        top: 0.5rem;

        padding-top: 5px;

        width: 1.6rem;
        height: 1.3rem;
        border-radius: 5px;

        background-color: $bg_color_3;
        color: $color_2;

        text-align: center;
        line-height: 0.7rem;
        font-size: 0.7rem;
      }

      &:active > .links_container {
        background-color: $bg_color_1;
      }
    }
  }
}

.subtitles {
  display: flex;
  flex-direction: column;

  padding-top: 3px;
  gap: 1rem;

  position: relative;

  & > .subtitle1,
  .subtitle2 {
    font-size: 0.8rem;

    &:not(:hover) {
      color: $color_1;
    }
  }
}
